<div class="form-group" [class.has-success]="hasSuccess()"
                        [class.has-error]="hasError()">

  <label class="control-label sr-only" for="inputSuccess">
    <i class="fa fa-check"></i>{{label}}
  </label>

  <ng-content></ng-content><!--ng-content marca uma regiao para introduzir conteudo de outra pagina
                            um exemplo seria o input passado pela order.component.html -->

  <span class="help-block" *ngIf="hasSuccess()"><i class="fa fa-check"></i>Ok</span>
  <span class="help-block" *ngIf="hasError()"><i class="fa fa-remove"></i>{{errorMessage}}</span>
</div>