<section class="content-header">
  </section>

  <section class="content">
    <section class="invoice">
        
          <form [formGroup]="orderForm">
            <div class="row">
              <div class="col-xs-12">
                <h2 class="page-header">
                  <i class="fa fa-shopping-cart"></i> Finalize o seu pedido
                </h2>
              </div>
            </div>                

            <div class="row">
              <div class="col-xs-12 col-sm-9">
                <p class="lead">Dados Pessoais:</p>
              </div>             

              <div>
                <div class="col-sm-8 col-xs-12">
                  <mt-input-container errorMessage="Campo obrigatorio, minimo 5 caracteres" label="Nome">
                    <input class="form-control" type="text" formControlName="name" placeholder="Nome">
                  </mt-input-container>
                </div>

                <div class="col-sm-8 col-xs-12">

                  <mt-input-container errorMessage="Email invalido" label="Email">
                    <input class="form-control" type="text" formControlName="email" placeholder="Email">
                  </mt-input-container>

                </div>

                <div class="col-sm-8 col-xs-12">
                 <mt-input-container errorMessage="Email de confirmacao Invalido" label="ConfirmacaoEmail">
                   <input class="form-control" type="text" formControlName="emailConfirmation" placeholder="Confirmacao do Email">
                  </mt-input-container>
                </div>
                
                <div class="col-xs12 col-sm-3">                  
                    <span class="help-block pull-right has-error-block" *ngIf="orderForm.hasError('emailsNotMatch')">
                      <i class="fa fa-remove"></i>Emails não conferem
                    </span>
                </div>

              </div>
            </div>

            <div class="row">
              <div class="col-xs-12">
                <p class="lead">Endereço de Entrega:</p>
              </div>

              <div class="col-sm-6 col-xs-12">

                <mt-input-container errorMessage="Campo obrigatorio, minimo 5 caracteres" label="Endereco">
                  <input class="form-control" type="text" formControlName="address" autocomplete="off" placeholder="Endereco">
                </mt-input-container>

              </div>

              <div class="col-sm-3 col-xs-6">

               <mt-input-container errorMessage="Campo obrigatorio, somente numeros." label="Numero">
                  <input class="form-control" class="form-control"type="number" formControlName="number" placeholder="Numero">
                </mt-input-container> 

              </div>

              <div class="col-sm-3 col-xs-6">

                <mt-input-container label="Opcional">
                  <input class="form-control" type="text" formControlName="optional" placeholder="Complemento">                 
                </mt-input-container>

              </div>              
            </div>

            <div class="row">
              <div class="col-xs-12">
                <p class="lead">Itens do Pedido:</p>
              </div>
              <div class="col-xs-12 table-responsive">

               <mt-order-itens [items]="cartItens()" 
                (increaseQty)="increaseQty($event)"
                (decreaseQty)="decreaseQty($event)"
                (remove)="remove($event)">
              </mt-order-itens>

              </div>              
            </div>            

            <div class="row">              
              <div class="col-sm-6 col-xs-12">
                <p class="lead">Formas de Pagamento:</p>

                  <div class="form-group">

                    <mt-radio [options]="paymentsOptions" formControlName="paymentOption"></mt-radio>                   
                  
                  </div>
              </div>
              
              <div class="col-sm-6 col-xs-12">
                <p class="lead">Frete e Total:</p>

                <mt-delivery-costs [delivery]="delivery" [itensValue]="itensValue()">
                </mt-delivery-costs>

              </div>              
            </div>

          </form>

          <div class="row">
            <div class="col-xs-12">
              <button href="order-summary.html" class="btn btn-success pull-right"
                      [disabled]="!orderForm.valid || cartItens().length === 0"
                      (click)="checkOrder(orderForm.value)">
                <i class="fa fa-credit-card"></i> 
                Concluir Pedido
              </button>
            </div>
          </div>

      </section>
  </section>